:80
tls off
root /var/www
proxy /rutorrent/ rutorrent:80 {
  without /rutorrent
}
proxy /sonarr/ http://sonarr:8989
proxy /jackett/ http://jackett:9117 {
  without /jackett
}
proxy /couchpotato/ http://couchpotato:5050
proxy /plexrequests/ http://plexrequests:3000
