tv.strothmann.xyz {
  tls cloudedone@gmail.com
  gzip
  proxy /sonarr/feed/calendar/ http://localhost:8080
  proxy /plexrequests/admin http://localhost:4180
  proxy /plexrequests/ http://localhost:8080
  proxy / http://localhost:4180
}
strothmann.xyz {
  tls cloudedone@gmail.com
  redir https://tv.strothmann.xyz/
}
